requests
azure-identity
python-dotnet
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
azure-core>=1.38.0 # not directly required, pinned by Snyk to avoid a vulnerability